<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link active", 'aria-current': :page %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authentication
          </a>
          <ul class="dropdown-menu p-2" aria-labelledby="navbarDropdown">

            <% if teacher_signed_in? %>
              <li><%= current_teacher.email %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_teacher_session_path, class: 'dropdown-item', method: :delete %>
              </li>
            <% elsif admin_signed_in? %>
              <li><%= current_admin&.email %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_admin_session_path, class: 'dropdown-item', method: :delete %>
              </li>
            <% elsif student_signed_in? %>
              <li><%= current_student.email %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_teacher_session_path, class: 'dropdown-item', method: :delete %>
              </li>
            <% else %>
              <li><%= link_to "Admin Sign In", new_admin_session_path, class: 'dropdown-item' %><li>
              <li><%= link_to "Teacher Sign In", new_teacher_session_path, class: 'dropdown-item' %><li>
              <li><%= link_to "Student Sign In", new_student_session_path, class: 'dropdown-item' %><li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
