<% if teacher_signed_in? %>
  <h1>Welcome teacher <%= current_teacher.email %></h1>
<% elsif student_signed_in? %>
  <h1>Welcome student <%= current_student.email %></h1>
<% else %>
  <h1>Welcome to the home page</h1>
<% end %>



<br>
<br>
<br>

<% if teacher_signed_in? %>
  <%= link_to "New Attendance", bulk_new_attendances_path, class: "btn btn-danger", data: { turbo: false } %>
  <br>
<% end %>

<% if teacher_signed_in? && current_teacher.admin? %>
  <%= link_to "Departments", departments_path, class: "btn btn-primary mt-2" %>
  <br>
  <%= link_to "Semesters", semesters_path, class: "btn btn-primary mt-2" %>
  <br>
  <%= link_to "Subjects", subjects_path, class: "btn btn-primary mt-2" %>
  <br>
  <%= link_to "Students", students_path, class: "btn btn-primary mt-2" %>
<% end %>

<% if student_signed_in? %>
  <%= link_to "My Attendance", bulk_show_attendances_path, class: "btn btn-primary mt-2", data: { turbo: false } %>
<% end %>
