
<% if teacher_signed_in? %>
  <h1>Welcome teacher <%= current_teacher.name %></h1>
<% elsif student_signed_in? %>
  <h1>Welcome student <%= current_student.name %></h1>
<% elsif admin_signed_in? %>
  <h1>Welcome administrator <%= current_admin.name %></h1>
<% else %>
<h1>Welcome to the home page</h1>
<% end %>
<br>
<br>
<br>



<% if teacher_signed_in? %>
  <%= link_to "New Attendance", bulk_new_attendances_path, class: "btn btn-danger", data: { turbo: false } %>
  <br>
  <%= link_to "View Attendance",bulk_view_attendances_path,class:"btn btn-primary mt-2",data:{turbo:false} %>
  <br>
<% end %>



<% if admin_signed_in? %>
  <%= link_to "Departments", departments_path, class: "btn btn-primary mt-2", data: { turbo: false }%>
  <br>
  <%= link_to "Semesters", semesters_path, class: "btn btn-primary mt-2",data: { turbo: false } %>
  <br>
  <%= link_to "Subjects", subjects_path, class: "btn btn-primary mt-2",data: { turbo: false } %>
  <br>
  <%= link_to "Students", students_path, class: "btn btn-primary mt-2",data: { turbo: false } %>
  <br>
  <%= link_to "Teachers",teachers_path, class: "btn btn-primary mt-2",data: { turbo: false } %>
  <br>
<% end %>

<% if student_signed_in? %>
  <%= link_to "My Attendance", bulk_show_attendances_path, class: "btn btn-primary mt-2", data: { turbo: false } %>
<% end %>
