<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h4>
      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <% if teacher.new_record? %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", required: true %>
    </div>
  <% end %>



  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <%= link_to "Back", teachers_path, class: "btn btn-outline-secondary me-md-2" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
